<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
            <div class="container">
                <div class="topnav">
                      <a href="/">Home</a>
                      <a href="/login">Login</a>
                      <a href="/register">Register</a>
                      <a href="/showNewInvoiceForm">New Invoice</a>
                      <a href="/showNewPurchaser">New Purchaser</a>
                      <a href="/listOfInvoices">List Of Invoices</a>
                </div>
            </div>
        </div>
    <div class="container text-center">
        <div>
            <h1>User Registration - Sign Up</h1>
        </div>
        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Sign Up</title>
        </head>
        <body>
            <h1>Sign Up</h1>
            <form id="signup-form" onsubmit="submitForm(event)">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <select name="roles[]" multiple hidden>
                    <option selected value="user">User</option>
                    <option value="admin">Admin</option>
                    <option value="moderator">Moderator</option>
                  </select>
                <input type="submit" value="Sign Up">
            </form>
        </body>
        </html>

    </div>

    <script>
    function submitForm(event) {
      event.preventDefault();
      const form = document.getElementById("signup-form");
      const formData = new FormData(form);
      const signupRequest = {};

      formData.forEach((value, key) => {
        if (key === 'roles[]') {
          const roles = formData.getAll('roles[]');
          signupRequest[key] = roles;
        } else {
          signupRequest[key] = value;
        }
      });

      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/signup");
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.onload = function() {
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);
          alert(response.message);
        } else {
          alert("Error: " + xhr.statusText);
        }
      };
      xhr.send(JSON.stringify(signupRequest));
    }
    </script>
</body>
</html>